body{
    background: #BDBDBD;
    margin: 0px;
}


header{
    background: white;
}
header h1{
    margin:0;
}
div.post img{
    width: 100%;
}

div.post{
    background: white;
}

div.cointainer{
    width: 600px;
    margin: auto;
}